{{!-- Home page --}}

<main class="home">
    <div class="motivation">
        <img src="/public/img/adoption/motivation.png" alt="Motivation banner">
    </div>
    <div class="pet-search">
        <form id="petSearchForm">
            <span class="material-icons-outlined">search</span>

            <label for="searchPetType"></label>
            <input type="text" name="searchPetType" id="searchPetType" placeholder="Find a pet">

            <label for="searchPetZip"></label>
            <input type="text" name="searchPetZip" id="searchPetZip" placeholder="ZIP Code">

            <button type="submit" class="btn-pet-search">Search</button>
        </form>
    </div>
    <div class="search-location">
        <button type="button" id="btnLocation">Use my location</button>
    </div>
    <div class="add-pet-conatiner">
        <div class="add-pet">
            <p class="btn-text">Add Pet</p>
            <a href="/pets/new">
                <span class="btn-icon"><span class="material-icons-outlined">add</span></span>
            </a>
        </div>
    </div>
    <div class="pet-search-result">
        {{#if pets}}
        <ul class="search-pets-list">
            {{#each pets as |pet key|}}
            <li class="search-pet">
                <a href="/pets/{{pet._id}}">
                    <div class="search-pet-details">
                        <img src="{{pet.picture}}" alt="{{pet.name}}" style="width: 50%;">
                        <p>Name: {{pet.name}}</p>
                        <p>Age: {{pet.age}}</p>
                        <p>Gender: {{pet.gender}}</p>
                        <p>Breed: {{pet.breed}}</p>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <div class="pet-not-found" hidden>
            <p><span class="material-icons-outlined">sentiment_dissatisfied</span></p>
            <p>No pets found</p>
        </div>
        {{/if}}
    </div>
</main>