{{!-- Pet page --}}

<main class="pet">
    <div class="pet-profile">
        <img src="{{pet.picture}}" alt="{{pet.name}}" style="width: 200px;">
        {{#if isCreator}}
        <div class="update-pet">
            <a href="/pets/edit/{{pet._id}}">Update <span class="material-icons-outlined">edit</span></a>
        </div>
        <div class="delete-pet">
            <a href="/pets/delete/{{pet._id}}">Delete <span class="material-icons-outlined">delete</span></a>
        </div>
        {{/if}}
        {{#if isFavorite}}
        <div class="dislike-pet">
            <a href="/removeFromFavourites/{{pet._id}}">Unlike <span class="material-icons-outlined">favorite_border</span></a>
        </div>
        {{else}}
        <div class="like-pet">
            <a href="/addToFavourites/{{pet._id}}">Like <span class="material-icons-outlined">favorite</span></a>
        </div>
        {{/if}}
    </div>
    <div class="pet-details">
        <table>
            <thead>
                <tr>
                    <th colspan="2">{{pet.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{pet.name}}</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>{{pet.age}}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{pet.gender}}</td>
                </tr>
                <tr>
                    <td>Type of Animal</td>
                    <td>{{pet.typeOfAnimal}}</td>
                </tr>
                <tr>
                    <td>Breed</td>
                    <td>{{pet.breed}}</td>
                </tr>
                <tr>
                    <td>Zip Code</td>
                    <td>{{pet.zip}}</td>
                </tr>
                <tr>
                    <td>Adoption Status</td>
                    <td>{{pet.adoptionStatus}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{pet.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pet-comments">
        <p class="comment-title">Comments</p>
        <div class="comments-container">
            {{#if pet.comments}}
            {{#each pet.comments}}
            <div class="comment-box">
                <img src="/public/img/user/user.png" alt="User profile." style="width: 40px;">
                <p class="user-name">{{userName}}</p> 
                <p class="user-comment">{{commentContent}}</p>
            </div>
            {{/each}}
            {{else}}
            <p class="no-comments">No comments</p>
            {{/if}}
        </div>
        <div class="make-comment">
            <form action="/pets/addComment/{{pet._id}}" method="post" id="comment_form">
                <textarea name="comment_input" id="comment_input" class="commentArea" cols="30" rows="1"
                    placeholder="Your comment ..."></textarea>
                <button type="submit" class="btn-comment">Comment</button>
            </form>
        </div>
    </div>
</main>
