<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <article>
        {{#if pet.name}}
          <h1>{{pet.name}}</h1>
        {{/if}}
        {{#if pet.age}}
          <p>{{pet.age}}</p>
        {{/if}}
        {{#if pet.gender}}
          <p>{{pet.gender}}</p>
        {{/if}}
        {{#if pet.breed}}
          <p>{{pet.breed}}</p>
        {{/if}}
        {{#if pet.description}}
          <p>{{pet.description}}</p>
        {{/if}}
        {{#if pet.typeOfAnimal}}
          <p>{{pet.typeOfAnimal}}</p>
        {{/if}}
        {{#if pet.zip}}
          <p>{{pet.zip}}</p>
        {{/if}}
        {{#if pet.adoptionStatus}}
          <p>{{pet.adoptionStatus}}</p>
        {{/if}}
       
      </article>
    </main>
  </body>
</html>