<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <article>
        {{#if pet.name}}
          <h1>{{pet.name}}</h1>
        {{/if}}
        {{#if pet.picture}}
          <img src={{pet.picture}}>
        {{/if}}
        {{#if pet.age}}
          <p>{{pet.age}}</p>
        {{/if}}
        {{#if pet.gender}}
          <p>{{pet.gender}}</p>
        {{/if}}
        {{#if pet.breed}}
          <p>{{pet.breed}}</p>
        {{/if}}
        {{#if pet.description}}
          <p>{{pet.description}}</p>
        {{/if}}
        {{#if pet.typeOfAnimal}}
          <p>{{pet.typeOfAnimal}}</p>
        {{/if}}
        {{#if pet.zip}}
          <p>{{pet.zip}}</p>
        {{/if}}
        {{#if pet.adoptionStatus}}
          <p>{{pet.adoptionStatus}}</p>
        {{/if}}
        <form id="comment_form" name="comment_form" method="POST", action="/pets/addComment/{{pet._id}}">
          <textarea name="comment_input" id="comment_input" type="text"></textarea>
          <br/>
          <button type="submit" id="commentButton" name="commentButton">Post</button>
        </form>
        <div id="commentDiv">
          {{#if pet.comments}}
            {{#each pet.comments}}
              <p>{{commentContent}}</p>
              <p>- {{userName}}</p>
            {{/each}}
          {{/if}}
        </div>
        {{#if isFavorite}}
          <a href="/removeFromFavourites/{{pet._id}}">Remove from Favourites</a>  
        {{else}}
          <a href="/addToFavourites/{{pet._id}}">Add to Favourites</a>  
        {{/if}}
         <a href="/pets" id="rootLink">Back to All Pets</a> 
      </article>
    </main>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  </body>
</html>