<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is all pets</h1><p><a href="/logout">Logout</a></p>
    {{#if user}}
      <p>{{user.firstName}}</p>
    {{/if}}
    <a href="/pets/new">Add new Pet</a>
    {{#if pets}}
      <ol>
        {{#each pets}}
          <li>
            <a href="/pets/{{_id}}">{{name}}</a> <a href="/pets/edit/{{_id}}">update</a> 
            <a href="/pets/delete/{{_id}}">delete</a>
            
          </li>
        {{/each}}
      </ol>
      {{!-- <a href="/" class="search-again">Search for Another Character</a> --}}
    {{else}}
      <p class="not-found">We're sorry, but no results were found for
        {{!-- {{searchCharacterByName}}.</p> --}}
      {{!-- <a href="/" class="search-again">Search for Another Character</a> --}}
    {{/if}}
  </body>
</html>