{{!-- Profile page --}}

<main class="profile">
    <div class="user-details">
        <div class="profile-img">
            <img src="/public/img/user/user.png" alt="User profile" style="width: 100px;">
            <p>{{user.firstName}} {{user.lastName}}</p>
            <p>{{user.emailAddress}}</p>
        </div>
        <div class="user-info">
            <h1>Personal Information</h1>
            <p>First Name: {{user.firstName}}</p>
            <p>Last Name: {{user.lastName}}</p>
            <p>Email: {{user.emailAddress}}</p>
        </div>
    </div>

    <div class="favorite-pets">
        <h2>Favorite Pets</h2>
        {{#if user.favoritePets}}
        <ul class="fav-pets-list">
            {{#each user.favoritePets}}
            <li class="fav-pet">
                <a href="/pets/{{this._id}}">
                    <div class="fav-pet-details">
                        {{#if this.picture}}
                        <img src="{{this.picture}}" alt="{{this.name}}" style="width: 110px; height: 110px; border-radius: 5px;">
                        {{else}}
                        <img src="/public/img/user/no_image.png" alt="{{this.name}}" style="width: 110px; height: 110px; border-radius: 5px;">
                        {{/if}}
                        <p>Name: {{this.name}}</p>
                        <p>Age: {{this.age}}</p>
                        <p>Gender: {{this.gender}}</p>
                        <p>Breed: {{this.breed}}</p>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p class="pet-not-found"><span class="material-icons-outlined">sentiment_dissatisfied</span></p>
        <p class="no-favorite-pets">No pets added to favorite</p>
        {{/if}}
    </div>
</main>